[NGF]
proj_root = D:\NGF_FULL\trunk
autobuild = D:\Upload\OpenManager3\release\autobuild
ftp_upload = ubicom:ubicom!23@192.168.9.10/OpenManager3/release/client/autobuild

[DOF]
proj_root = D:\DOF_FULL\trunk
autobuild = D:\Upload\OpenManager5\release\autobuild
ftp_upload = ubicom:ubicom!23@192.168.9.10/OpenManager5/release/client/autobuild

[AGENT]
proj_root = D:\OMAGENT\trunk
autobuild = D:\Upload\AgentNT\release\autobuild
ftp_upload = ubicom:ubicom!23@192.168.9.10/OMAgent/release/WINDOWS/autobuild

[slack]
bot_token = xoxb-176677785552-BQVJvmO4SkbkwcZWBktSgu3z
channel = #chappie
